@import '../../../assets/scss/lib.scss';

#banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    background-image: url('/assets/images/banner_image.jpg');
    padding: 150px 0 60px 0;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 65% 92%, 31% 97%, 0 92%);
}

#banner h1 {
    font-size: 60px;
    font-weight: bold;
}

#banner p {
    max-width: 600px;
    width: 100%;
    margin: 30px auto;
    font-size: 16px;
    font-weight: bold;;
}

#banner a.btn {
    font-weight: bold;
    color: #fff;
    border: #fff solid 2px;
    border-radius: 5px;
    padding: 15px 30px;
}

#banner div.d-flex a.btn {
    margin: 10px 0;
    width: 100%;
}

#banner a.btn:hover {
    color: #008542;
    background-color: #fff;
}

#banner a.text {
    text-decoration: none;
    color: #fff;
}

#percentage .container {
    padding: 20px 0;
    border-bottom: #3e3e3e solid 2px;
}

#percentage h2 {
    font-size: 25px;
    color: #fff;
    background-color: #008542;
    padding: 10px 0;
}

#percentage p {
    font-size: 16px;
    font-weight: 600;
    text-align: justify;
}

#percentage aside {
    width: 165px;
    margin: 15px 10px;
}

#percentage aside h3 {
    font-size: 18px;
    font-weight: bold;
}

#percentage aside .circle {
    width: 100%;
    height: 165px;
    padding: 50px;
    border-radius: 100px;
    border: #008542 solid 8px;
    margin: auto;
    font-size: 30px;
}

#brandProducts,
#experience {
    padding: 40px 0;
}

#brandProducts h2 {
    font-size: 40px;
    color: #3d2817;
    font-weight: bold;
    margin: 20px 0;
}

#experience h2 {
    font-size: 30px;
    color: #008542;
    margin: 40px 0;
    font-weight: 600;
}

#brandProducts img {
    width: 100%;
}

#experience { padding-bottom: 80px; }

#experience aside {
    //width: calc((100% - 120px) / 6);
    margin: 10px 0;
}

#experience aside span {
    width: 100%;
    height: 70px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('/assets/images/Kynmobi.jpg');
}

#experience aside h3 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
    color: #212121;
}

#experience aside h4 {
    font-size: 14px;
    font-weight: 600;
    color: #3e3e3e;
    margin-bottom: 0;
}

#brandStrategy aside {
    width: 100%;
    background-image: url('/assets/images/meeting.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 450px;
    transition: 0.2s all linear;
    @include md {
        width: calc(100% / 3);
    }
    @include xl {
        width: calc(100% / 6);
        min-height: 650px;
    }
}

#brandStrategy aside:hover {
    transform: scale(1.1);
    z-index: 50;
    -webkit-box-shadow: 0 2px 15px 0 #5e5e5e;
    box-shadow: 0 2px 15px 0 #5e5e5e;
}

#brandStrategy aside .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0 ,0.7);
    padding: 40px 30px;
    transition: 0.2s all linear;
}

#brandStrategy aside:hover .overlay {
    background-color: rgba(0, 0, 0 ,0.5);
}

#brandStrategy aside i {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
    background-image: url('/assets/icons/globe.svg');
    display: inline-block;
    margin-bottom: 15px;
}

#brandStrategy aside h2 {
    font-weight: bold;
    font-size: 40px;
}

#brandStrategy aside p {
    font-size: 14px;
    line-height: 28px;
}

#recentPress h2 {
    font-size: 30px;
    color: #008542;
    margin: 40px 0;
}

#recentPress aside {
    width: calc((100% - 80px) / 3); 
}

#recentPress aside span {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 250px;
    border-radius: 5px;
    // background-color: #3d2817;
    display: inline-block;
}

#recentPress aside span.press_image1 {
    background-image: url('/assets/images/press_image.jpg');
}

#recentPress aside span.press_image2 {
    background-image: url('/assets/images/press_image.jpg');
}

#recentPress aside span.press_image3 {
    background-image: url('/assets/images/press_image.jpg');
}

#recentPress aside h3 {
    font-size: 25px;
    margin: 20px 0;
}

#recentPress aside p {
    font-size: 16px;
    line-height: 35px;
}

#recentPress a.btn {
    margin: 40px 0;
    border: #008542 solid 2px;
    font-size: 20px;
    padding: 10px 30px;
    transition: 0.2s all linear;
}

#recentPress a.btn:hover {
    background-color: #008542;
    color: #fff;
}

