<app-header></app-header>

<section id="banner" class="text-center text-light">
    <div class="container">
        <h1>Lorem ipsum</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum culpa libero quas deserunt hic odit aut.</p>
        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center mb-4">
            <a href="" class="btn">Healthcare</a>
            <a href="" class="btn mx-4">Consumer</a>
            <a href="" class="btn">Corporate ID</a>
        </div>
        <a href="" class="text">BASEL | BOSTON | CHICAGO | DALLAS | FRANKFURT | LONDON | LOS ANGELES | MIAMI | NEW YORK | OTTAWA | RALEIGH-DURHAM | ROCKVILLE | SAN FRANCISCO | SAN JUAN | SAO PAULO | SEATTLE | SEOUL | TOKYO | TORONTO </a> 
        <br>
        <a href="" class="btn my-4">See Our Naming Experience</a>
    </div>
</section>

<section id="percentage">
    <div class="container text-center">
        <h2>OUR 2019 Rx BRAND NAME / USAN / INN 75% SHARE OF MARKET APPROVALS WORLDWIDE</h2>
        <div class="d-flex justify-content-center align-items-center flex-wrap my-5">
            <aside>
                <h3>FDA</h3>
                <div class="circle">82%</div>
            </aside>
            <aside>
                <h3>FDA</h3>
                <div class="circle">82%</div>
            </aside>
            <aside>
                <h3>FDA</h3>
                <div class="circle">82%</div>
            </aside>
            <aside>
                <h3>FDA</h3>
                <div class="circle">82%</div>
            </aside>
            <aside>
                <h3>FDA</h3>
                <div class="circle">82%</div>
            </aside>
            <aside>
                <h3>FDA</h3>
                <div class="circle">82%</div>
            </aside>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-wrap mb-5" id="lowerCircle">
            <aside>
                <h3>FDA</h3>
                <div class="circle">82%</div>
            </aside>
            <aside>
                <h3>FDA</h3>
                <div class="circle">82%</div>
            </aside>
            <aside>
                <h3>FDA</h3>
                <div class="circle">82%</div>
            </aside>
            <aside>
                <h3>FDA</h3>
                <div class="circle">82%</div>
            </aside>
            <aside>
                <h3>FDA</h3>
                <div class="circle">82%</div>
            </aside>
        </div>
        <p>Brand Institute is the global leader in brand name and identity development. We partner with clients across industries and develop some of the world’s most iconic brands.</p>
        <p>We specialize in pharmaceutical/healthcare-related branding and name over 75% of drugs approved worldwide. Our wholly owned regulatory subsidiary, Drug Safety Institute (DSI), is comprised of full-time experts who formerly served as key naming, packaging and labeling regulatory officials at FDA, EMA, Health Canada, AMA and WHO. In their former roles, many of our regulatory experts authored the name safety guidance currently in use at their respective agencies. Add in the industry’s most prolific creative teams, a group of seasoned trademark attorneys and paralegals, a proven and proprietary research model, 14 consecutive years with a majority global Share of Market Regulatory Name Approvals, and you have a recipe for success. We thank all of our clients for making us #1 in pharmaceutical and healthcare naming!</p>
    </div>
</section>

<section id="brandProducts">
    <div class="container text-center">
        <h2>Brand Institute is proud to have partnered on the products!</h2>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <img src="/assets/images/yeliva.jpg">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <img src="/assets/images/yeliva.jpg">
            </div>
            <div class="col-12 col-lg-4">
                <img src="/assets/images/yeliva.jpg">
            </div>
        </div>
    </div>
</section>
        
<section id="experience">
    <div class="container text-center">
        <h2>Recent Experience</h2>
        <div class="row mb-5">
            <aside class="col-6 col-md-4 col-lg-2">
                <span></span>
                <h3>lorem Ipsum</h3>
                <h4>lorem</h4>
            </aside>
            <aside class="col-6 col-md-4 col-lg-2">
                <span></span>
                <h3>lorem Ipsum</h3>
                <h4>lorem</h4>
            </aside>
            <aside class="col-6 col-md-4 col-lg-2">
                <span></span>
                <h3>lorem Ipsum</h3>
                <h4>lorem</h4>
            </aside>
            <aside class="col-6 col-md-4 col-lg-2">
                <span></span>
                <h3>lorem Ipsum</h3>
                <h4>lorem</h4>
            </aside>
            <aside class="col-6 col-md-4 col-lg-2">
                <span></span>
                <h3>lorem Ipsum</h3>
                <h4>lorem</h4>
            </aside>
            <aside class="col-6 col-md-4 col-lg-2">
                <span></span>
                <h3>lorem Ipsum</h3>
                <h4>lorem</h4>
            </aside>
        </div>
        <h2 class="mt-5">Select Experience</h2>
        <div class="row">
            <aside class="col-6 col-md-4 col-lg-2">
                <span></span>
                <h3>lorem Ipsum</h3>
                <h4>lorem</h4>
            </aside>
            <aside class="col-6 col-md-4 col-lg-2">
                <span></span>
                <h3>lorem Ipsum</h3>
                <h4>lorem</h4>
            </aside>
            <aside class="col-6 col-md-4 col-lg-2">
                <span></span>
                <h3>lorem Ipsum</h3>
                <h4>lorem</h4>
            </aside>
            <aside class="col-6 col-md-4 col-lg-2">
                <span></span>
                <h3>lorem Ipsum</h3>
                <h4>lorem</h4>
            </aside>
            <aside class="col-6 col-md-4 col-lg-2">
                <span></span>
                <h3>lorem Ipsum</h3>
                <h4>lorem</h4>
            </aside>
            <aside class="col-6 col-md-4 col-lg-2">
                <span></span>
                <h3>lorem Ipsum</h3>
                <h4>lorem</h4>
            </aside>
        </div>
    </div>
</section>

<section id="brandStrategy">
    <div class="d-flex flex-column flex-md-row flex-nowrap flex-md-wrap flex-xl-nowrap text-light">
        <aside>
            <div class="overlay">
                <div class="textArea">
                    <i></i>
                    <h2>Brand Strategy</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor sint animi maxime deleniti sapiente id cum, iure impedit numquam enim ab debitis, eos, quas repudiandae nihil corporis. Ipsam, corporis consectetur!</p>
                </div>
            </div>
        </aside>
        <aside>
            <div class="overlay">
                <div class="textArea">
                    <i></i>
                    <h2>Brand Strategy</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor sint animi maxime deleniti sapiente id cum, iure impedit numquam enim ab debitis, eos, quas repudiandae nihil corporis. Ipsam, corporis consectetur!</p>
                </div>
            </div>
        </aside>
        <aside>
            <div class="overlay">
                <div class="textArea">
                    <i></i>
                    <h2>Brand Strategy</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor sint animi maxime deleniti sapiente id cum, iure impedit numquam enim ab debitis, eos, quas repudiandae nihil corporis. Ipsam, corporis consectetur!</p>
                </div>
            </div>
        </aside>
        <aside>
            <div class="overlay">
                <div class="textArea">
                    <i></i>
                    <h2>Brand Strategy</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor sint animi maxime deleniti sapiente id cum, iure impedit numquam enim ab debitis, eos, quas repudiandae nihil corporis. Ipsam, corporis consectetur!</p>
                </div>
            </div>
        </aside>
        <aside>
            <div class="overlay">
                <div class="textArea">
                    <i></i>
                    <h2>Brand Strategy</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor sint animi maxime deleniti sapiente id cum, iure impedit numquam enim ab debitis, eos, quas repudiandae nihil corporis. Ipsam, corporis consectetur!</p>
                </div>
            </div>
        </aside>
        <aside>
            <div class="overlay">
                <div class="textArea">
                    <i></i>
                    <h2>Brand Strategy</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor sint animi maxime deleniti sapiente id cum, iure impedit numquam enim ab debitis, eos, quas repudiandae nihil corporis. Ipsam, corporis consectetur!</p>
                </div>
            </div>
        </aside>
    </div>
</section>

<section id="recentPress">
    <div class="container text-center">
        <h2>Our Recent Press</h2>
        <div class="row text-left">
            <aside class="col-12 col-md-4">
                <span class="press_image1"></span>
                <h3>Lorem Ipsum</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ex corporis modi earum unde mollitia dolor commodi doloremque illum fugit, quam molestiae sunt eum velit iste? Ducimus ex vel suscipit.</p>
            </aside>
            <aside class="col-12 col-md-4">
                <span class="press_image2"></span>
                <h3>Lorem Ipsum</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ex corporis modi earum unde mollitia dolor commodi doloremque illum fugit, quam molestiae sunt eum velit iste? Ducimus ex vel suscipit.</p>
            </aside>
            <aside class="col-12 col-md-4">
                <span class="press_image3"></span>
                <h3>Lorem Ipsum</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ex corporis modi earum unde mollitia dolor commodi doloremque illum fugit, quam molestiae sunt eum velit iste? Ducimus ex vel suscipit.</p>
            </aside>
        </div>
        <a href="" class="btn">See More News</a>
    </div>
</section>

<section id="ready">
    <div class="container text-center">
        <h2>Ready to start branding with us?</h2>
    </div>
</section>

<app-footer></app-footer>
