<app-header></app-header>
<section id="bannerArea">

</section>
<section id="bitCoin">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><aside class="green"></aside></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"><aside class="green"></aside></div>
            <div class="col-4"><aside class="green"></aside></div>
            <div class="col-4"><aside class="green"></aside></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><aside class="green"></aside></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><aside class="green"></aside></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><aside class="green"></aside></div>
            <div class="col-4"></div>
        </div>
    </div>
</section>

<app-footer></app-footer>
