<app-header></app-header>
<section id="bannerArea">

</section>
<section id="bitCoin">
    <div class="container">
        <aside class="bitCoinAddress">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"><aside class="green"><img src="/assets/images/qrcode.webp"></aside></div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-4"><aside class="text">G</aside></div>
                <div class="col-4"><aside class="green"><img src="/assets/images/qrcode.webp"></aside></div>
                <div class="col-4"><aside class="text redTxt">D</aside></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"><aside class="green"><img src="/assets/images/qrcode.webp"></aside></div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"><aside class="green"><img src="/assets/images/qrcode.webp"></aside></div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"><aside class="green"><img src="/assets/images/qrcode.webp"></aside></div>
                <div class="col-4"></div>
            </div>
        </aside>
    </div>
</section>

<app-footer></app-footer>
