<footer class="container py-5">
    <div class="row">
        <aside class="col-12 col-sm-6 col-lg-3">
            <h3>BRANDING</h3>
            <p>Brand Institute is the world’s premier brand identity consultancy. Our brand agency portfolio of services includes brand strategy/architecture, name development, market research, regulatory and visual identity solutions.</p>
        </aside>
        <aside class="col-12 col-sm-6 col-lg-3">
            <h3>Office Locations</h3>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
        </aside>
        <aside class="col-12 col-sm-6 col-lg-3">
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
            <p><strong>Basel</strong> – 41-78-879-4619</p>
        </aside>
        <aside class="col-12 col-sm-6 col-lg-3">
            <h3>Our Headquarters</h3>
            <p>200 SE 1st Street, 12th Floor<br />
                Miami, FL 33131</p>
            <p>(305) 374-2500</p>
            <hr />
            <a href="">CAREERS</a>
            <a href="">MEMBER SERVICES</a>
            <a href="">PRESS</a>
            <a href="">PRIVACY POLICY</a>
        </aside>
    </div>
</footer>